{% extends "app/base.html" %}
{% load static %}
{% block title %}Home{% endblock title %}


{% block banner_slidder %}

<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{%static 'app/images/banner/laptop banner.png'%}" class="d-block w-140" alt="Banner Image">
      </div>
      <div class="carousel-item">
        <img src="{%static 'app/images/banner/appliances banner.png'%}" class="d-block w-140" alt="Banner Image">
      </div>
      <div class="carousel-item">
        <img src="{%static 'app/images/banner/accesories banner.png'%}" class="d-block w-140" alt="Banner Image">
      </div>
      <div class="carousel-item">
        <img src="{%static 'app/images/banner/mobile banner.png'%}" class="d-block w-140" alt="Banner Image">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

{% endblock banner_slidder %}
{% block information %}
<div class="container">
  <div class="row bg-success text-center p-5 text-white border-bottom shadow">
    <h1>Products</h1>
    <small class="fs-5">
      iPhone 15 Pro Max, a titanium marvel, boasts an aerospace-grade build, making it the lightest Pro model ever. The A17 Pro Chip marks a historic leap in Apple GPUs, delivering unparalleled graphics performance and immersive gaming experiences. The camera system shines with a 48 MP Main camera, offering remarkable detail and automatic portrait enhancements. Convenience is key with the Action button for quick tasks and Focus filters. Plus, it's USB 3 compatible, revolutionizing data transfer speeds.
       
      This iPhone even shares its charging cable with your Mac or iPad. Embrace innovation, cut cable clutter, and elevate your mobile experience with the iPhone 15 Pro Max.
    </small>
  </div>
</div>
{% endblock information  %}

{% block main-content %}
  <div class="container">
    <h2 class="text-center">Electronic Products</h2>
    <br><br>
    <div class="row container">
      <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay:0.06s; animation-name: none;">
        <div class="goodnesssec buttermilk smbg">
          <a href="{% url "category" 'MB' %}">
            <div class="goodnessseccount text-center">
              <img src="{% static "app/images/product/iphone 15 pro max.jpg" %}" class="img-responsive center-block" alt="">
              <p class="mlkpro">Mobiles</p>
            </div>
          </a>
        </div>
      </div>
      
        <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay:0.06s; animation-name: none;">
          <div class="goodnesssec buttermilk curdbgpro">
            <a href="{% url "category" 'TB' %}">
              <div class="goodnessseccont text-center">
                <img src="{% static "app/images/product/apple ipad 10th generation.JPG" %}" class="img-responsive center-block" width="300px" height="360px" alt="">
                <p class="mlkpro">Tablets</p>
              </div>
            </a>
          </div>
        </div>

          <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay:0.06s; animation-name: none;">
            <div class="goodnesssec buttermilk buttermilk">
              <a href="{% url "category" 'WT' %}">
                <div class="goodnessseccont text-center">
                  <img src="{% static "app/images/product/Apple Smart Watch.png" %}" class="img-responsive center-block" width="300px" height="360px" alt="">
                  <p class="mlkpro">Smart Watches</p>
                </div>
              </a>
            </div>
          </div>

      </div>
    </div>

    <br><br><br>
<div class="lap">
    <div class="row container m-lg-5">
      <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay:0.06s; animation-name: none;">
        <div class="goodnesssec buttermilk smbg">
          <a href="{% url "category" 'LP' %}">
            <div class="goodnessseccount text-center">
              <img src="{% static "app/images/product/lenovo laptop.jpg" %}" class="img-responsive center-block" alt="">
              <p class="mlkpro">Lenovo Laptops</p>
            </div>
          </a>
        </div>
      </div>
      
        <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay:0.06s; animation-name: none;">
          <div class="goodnesssec buttermilk curdbgpro">
            <a href="{% url "category" 'SB' %}">
              <div class="goodnessseccont text-center">
                <img src="{% static "app/images/product/sony soundbar.JPG" %}" class="img-responsive center-block" height="265px" alt="">
                <p class="mlkpro">Sound Bars</p>
              </div>
            </a>
          </div>
        </div>

          <div class="col-md-4 col-sm-4 mi-go wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay:0.06s; animation-name: none;">
            <div class="goodnesssec buttermilk buttermilk">
              <a href="{% url "category" 'TV' %}">
                <div class="goodnessseccont text-center">
                  <img src="{% static "app/images/product/Samsung Tv.png" %}" class="img-responsive center-block" width="300px" height="265px" alt="">
                  <p class="mlkpro">Smart Tv's</p>
                </div>
              </a>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
  <br><br><br><br>
{% endblock main-content %}
